<h2>Participant Agreement updates</h2>

<p>To update your <a href="agreement">Participant Agreement</a>, for example to change the workstreams you participate in or change your contact information, submit a pull request to the <a href="https://github.com/{{publicDataRepo}}">{{publicDataRepo}}</a> GitHub repository.

<p>The pull request must be from the GitHub account of the <a href="agreement#individual">individual</a> who submitted the agreement in the first place, or from the GitHub account of the primary or secondary contact in the case of an <a href="agreement#entity">entity</a>.

<p>If you are an individual and need to update your private data (address or email), email the Steering Group: <a href="mailto:{{steeringGroupEmail}}">{{steeringGroupEmail}}</a>.
