<p>To participate in the WHATWG and help develop standards and tests, please read the <a href="https://whatwg.org/code-of-conduct">Code of Conduct</a> and <a href="https://whatwg.org/working-mode">Working Mode</a>. Then, sign the <a href="agreement">Participant Agreement</a>. If you have questions along the way feel free to reach out on <a href="https://wiki.whatwg.org/wiki/IRC">IRC</a> or <a href="https://github.com/whatwg/meta/issues/new">file an issue</a>. The <a href="https://whatwg.org/faq">FAQ</a> might also provide some useful guidance.

<p>Once you're all set, you can review <a href="https://spec.whatwg.org/">the standards</a> and contribute through GitHub as indicated at the top of each standard. You can also help with the development of tests over at <a href="https://github.com/w3c/web-platform-tests">web-platform-tests</a>.

<p>If you're just getting started on participating in the WHATWG, we encourage you to check out the global <a href="https://github.com/search?q=is%3Aopen+label%3A%22good+first+issue%22+user%3Awhatwg&type=Issues">"good first issue"</a> label we use across all of our standards. These are usually refactorings, formatting changes, clarifications, or tightly-scoped bug fixes. They will give you a chance to get used to the tooling and process.

<p>(Looking to update your participant agreement? <a href="agreement-update">See these instructions.</a>)
