<!doctype html>
<html lang="en">
<title>{{title}}</title>
<link rel="stylesheet" href="https://whatwg.org/style/tabbed-pages">
<link rel="icon" href="https://resources.whatwg.org/logo.svg">

{{_sections.head}}

<h1>
 <span class="the">The</span>
 <strong class="what">Web Hypertext Application Technology</strong>
 <span class="wg">Working Group</span>
</h1>

<ul class="navigation">
 <li><a href="https://whatwg.org/" rel="home">Home</a></li>
 <li><a href="https://spec.whatwg.org/">Standards</a></li>
 <li><a href="https://whatwg.org/faq">FAQ</a></li>
 <li><a href="https://whatwg.org/policies">Policies</a></li>
 <li class="this">
  {{#if isIndex}}<strong>Participate</strong>
  {{else}}<a href="/">Participate</a>{{/if}}
 </li>
</ul>

{{{@body}}}

<footer>
 <p><small>Copyright © 2017 WHATWG (Apple, Google, Mozilla, Microsoft). This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</small></p>
</footer>
